#fonts {
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

.opinionsImg {
    height: 600px;
    border-radius: 30px;
    margin: 1em;
}

.opinionsArea h1 {
    font-size: 3em;
}

.opinionsArea p {
    font-size: 2em;
}

.opinionsArea {
    display: flex;
}

.opinionsText {
    text-align: center;
    margin-top: 8em;
}

.contactUs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 15em;
}

.locationImg {
    height: 500px;
    margin-right: -10em;
}

.contactArea {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.contactInfo {
    background-color: #E5E7EB;
    ;
    text-align: center;
    padding: 2em;

}

.contactInfo h1 {
    font-size: 2em;
    margin-bottom: 4em;
}

.contactInfo p {
    font-size: 1.5em;
    padding-bottom: 1.5em;
}

.collInfo {
    font-size: 1.2em;
    background-color: #1f2937;
    color: #E5E7EB;
    padding-left: 5em;
    margin-left: -6em;
    padding-right: 4em;
}

.collInfo h1 {
    font-size: 2em;
    margin-bottom: 4em;
    padding-top: 0.6em;
    text-align: center;
}

.collInfo p {
    padding-bottom: 0.5em;
}